header {
    background: white;
    margin-bottom: 70px;
    padding: 28px;

    .logo-stackline {
        width: 157px;
        height: 28px;
        background: transparent url('../imgs/logo-stackline.png') no-repeat center center;
        background-size: 157px 28px;
        display: block;
    }
}
