@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ir {
    color: transparent;
    text-indent: 100%;
    font: 0/0 a;
    overflow: hidden;
}

@import './App';
@import './header';
@import './sidebar';
@import './main';