.listing {
    width: 100%;
    background: white;

    thead {
        td {
            padding: 40px;
            color: #5f6977;
            text-transform: uppercase;

            &:nth-child(n+2) {
                text-align: center;
            }

            span {
                width: calc(auto + 20px);
                padding-right: 20px;
                position: relative;
                cursor: pointer;

                &::after {
                    $size: 6px;
                    $border-size: 2px;
                    width: $size;
                    height: $size;
                    content: '';
                    border: solid #d3dde6;
                    border-width: 0 $border-size $border-size 0;
                    display: block;
                    transform: rotate(45deg);
                    position: absolute;
                    right: 0;
                    top: 4px;
                }
            }
        }
    }

    tbody {

        td {
            padding: 20px 35px;
            color: #a6b8d1;
            border-top: 1px solid #f2f3f7;

            &:nth-child(n+2) {
                text-align: center;
            }
        }
    }
}